body {
    background-color: #CCCC00;
    color: purple;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 960px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav li a {
    background-color: white;
    color: blue;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    min-width: 150px;
    text-align: center;
    border: 1px solid black;
}

main {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

footer {
    font-size: smaller;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid purple;
    padding-top: 10px;
}