.navbar {
    background-color: black;
    padding: 10px;
    width: 150px;
}

.navbar a {
    display: block;
    background-color: lightblue;
    color: darkblue;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 5px;
}

.navbar a:hover {
    background-color: orange;
    color: white;
}