table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    background-color: lightblue;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid black;
}

th {
    font-weight: bold;
}