.navbar {
    background-color: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-flex;
}

.navbar a {
    background-color: grey;
    color: darkblue;
    padding: 10px;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: darkgrey;
    color: white;
}

.separator {
    color: blue;
    margin: 0 10px;
}