.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.shape {
    width: 100px;
    height: 50px;
    border: 2px solid olive;
    box-sizing: border-box;
    background-color: transparent;
}

.rounded-box {
    border-radius: 10px;
}

.oval {
    width: 100px;
    height: 50px;
    border-radius: 50%;
}

.rounded-corner-box {
    border-radius: 0 20px 0 0;
}