table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #00A36C;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


tr:nth-child(even) { 
    background-color: white;
}

tr:nth-child(odd) { 
    background-color: lightgray;
}